@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,900;1,400;1,900&display=swap");

:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-primary: ;
  --clr-blue: #1b1c42;
  --clr-lightGreen: #d1f177;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*========== Globale Styles =============*/

body {
  font-family: "Mulish", sans-serif;
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

h1,
h2,
h3 {
  line-height: 1.2;
  color: var(--clr-blue);
}

h1 {
  font-size: 38px;
}

h3 {
  font-size: 25px;
}

p {
  line-height: 1.5;
  font-size: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
}

/*========== Header Section =============*/

.header {
  background: linear-gradient(102.29deg, #d0f076 14.52%, #7f9f24 76.37%);
  padding: 3rem;
  text-align: center;
}

.header img {
  width: 38%;
}
.header .textBox {
  align-self: center;
}

.header p {
  margin-top: 1rem;
}
/*========== Features Section =============*/

.features {
  width: 80%;
  padding: 4rem;
  margin: auto;
  text-align: center;
}

.feature img {
  width: 90%;
}

.feature {
  border-radius: 12px;
  margin-top: 2.5rem;
}

.feature h3 {
  margin-top: 1rem;
}

.feature + .feature {
  margin-left: 2rem;
}

/*========== Section 3 Styles =============*/

.section3 {
  text-align: center;
  background: linear-gradient(102.29deg, #d0f076 14.52%, #7f9f24 76.37%);
  padding: 4rem;
}

.section3 p {
  margin-bottom: 1.89rem;
}
.section3 h3 {
  margin-bottom: 1.67rem;
}

.section3 a {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  padding: 1rem;
  border-radius: 5px;
  width: 16%;
  display: block;
  margin: auto;
  text-transform: uppercase;
}

/*========== Plan  Styles =============*/

.plans {
  width: 80%;
  padding: 6rem;
  margin: auto;
  text-align: center;
}

.plan + .plan {
  margin-left: 2rem;
}

.plan h3 {
  margin-top: 0.89rem;
}

.plan p {
  margin-top: 0.89rem;
  margin-bottom: 1.9rem;
}

.plan .btn {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  padding: 1rem;
  font-size: 20px;
  display: block;
  width: 50%;
  border-radius: 5px;
  margin: auto;
  text-transform: uppercase;
}
/*========== Footer  Styles =============*/

footer {
  padding: 4rem;
  margin: auto;
  text-align: center;
  background: linear-gradient(102.29deg, #d0f076 14.52%, #7f9f24 76.37%);
}

footer .socialMedia {
  margin-top: 2rem;
}

.socialMedia img {
  width: 24px;
}
